
.avatar {
  vertical-align: right;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 25px;
}

button {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
}

body{
  background-image: linear-gradient(to right, black, rgb(80, 78, 78));
}

section{
  padding: 22px;
}

.btn-secondary {
  /* background-color: black !important; */
  background: linear-gradient(to right, black, grey) !important;
}

.btn-secondary:hover {
  color: rgb(150, 76, 88);
}

h3 {
  color: white;
}

h6 {
  color: white;
}

.icon {
  color: darkgray;
  transition: color 0.2s;
  margin: 0 5px;
  font-size: xx-large;
}

.icon:hover {
  color: rgb(150, 76, 88);
}
.devInTraining {
  color: rgb(150, 76, 88);
  padding: 20px;
  display: flex;
  justify-content: center;
}
